


 
 .strength, .comp-label {
    font-weight: 500;
 }


.checkout-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;

}

a.contact-icon {
    text-decoration: none!important;
}




.about-me img {
    align-self: center!important;
    filter: contrast(150%);
}

.featured-projects {
    background-color: #fff; 
    padding-bottom: 130px;
    padding-top: 60px;  
}

.featured-projects > .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-logo {
    flex: 1;
    display: flex;
}

.header-icons {
    gap: 20px;
    justify-content: flex-end;
    flex: 2;
}

.header-icons .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    padding: 8px;
}



img.infopro {
    width: 100%;
    max-width:280px;
    align-self: center;
}



.card-header {
    font-size: .95rem;
    text-decoration: none!important;
    color: #000000;
    font-weight: 600;
    text-align: center;
    background-color:#f5f2eb!important;
    border-color: #f5f2eb!important;
}

.card-header.before {
    background-color:#e9e6de!important;
    color: #000000!important ;
}



img.persona-avatar {
    width: 150px!important;
    align-self: center;
}



/* Adding a comparison-box style for structured layout */
.comparison-box {
    border: 1px solid #D6BFAF; /* Add border to differentiate sections */
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for better distinction */
    background-color: #FAF3E0; /* Optional background to make boxes pop */
}

/* Improve image size consistency */
.comparison-img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 10px;
}

/* Padding for text alignment */
.comparison-description {
    margin-top: 10px;
}

/* Increase spacing between Before and After */
.card-body .row {
    margin-bottom: 30px; /* More space between comparisons */
}

.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    margin-bottom: auto!important;
    display: flex;
    flex-direction: column;
}

.user-journey-section  {
    background-color: #fefbf4; /* Or whichever you choose */
}

section#heading-toc {
    margin: 0px!important;
    padding: 0px!important;;

}


#design-iterations .card {
    border: 1px solid #F5EEDC; /* Softer tan for the border */
    border-radius: 8px;
    background-color: #fefcf7 !important; 
    box-sizing: border-box;
    margin-bottom: 30px; 
}

#design-iterations div.card-body {
    margin-top: auto;
    margin-bottom: 0px!important;
    padding: 20px;;

}

#design-iterations div.card-body p {
    margin-bottom: 0px!important;

}

.img-fluid.iteration {
    margin-top: auto;
    margin-bottom: auto;
}

.img-fluid.journey {
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid #f6edd5;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #ffffff; 

}

.research-insights img {
    border: 1px solid #f6edd5;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.card.chart {
    padding: 30px!important;
} 
main#before-after img  {
    padding: 20px;
}

 main#before-after p {
    padding: 0px 20px 20px 20px;
}

.btn-nav {
    font-size: 0.85rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    color: #000;
    margin-right: 15px;
    font-weight: 600;
  }
  
  .btn-nav:hover, .btn-nav:focus {
    color: #E74C3C; /* Highlight color */
  }
  
.nav-row {
    position: fixed;
    z-index: 999;
    top: 60px;
    padding: 10px!important;
    border-bottom: 1px solid #f6edd5;
    background-color:#fcfbf8;
}



hr {
    margin: 3px!important;
}

div.process-item {
    font-size: .875rem;
    text-decoration: none!important;
    color: #000000;
    font-weight: 600;
text-align: center;
padding: 4px 0px!important;
width: 100%;
background-color:#f5f2eb!important;
}

.summary {
    font-size: .95rem;
    text-decoration: none!important;
    color: #000000;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 6px 0px!important;
    flex: 2;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    line-height: 100%;
}

.toc {
    font-size: .95rem;
    text-decoration: none!important;
    color: #000000;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 6px 0px!important;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

a.process-item {
    font-size: .7rem;
    text-decoration: none!important;
    color: #000000;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 4px!important;
}


.checkout-header h1 {
    font-size: 1rem!important;
}

#checkout-nav, #video-platform-nav {
    padding: 0px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column!important;
    width: 100%;
    background-color:#f5f2eb!important
}

#navbar-project-1, #navbar-project-2,  .logo-row {
    padding: 0px 4px!important;
}

#navbar-project-1, #navbar-project-video, #navbar-project-2, #design-system-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:#f5f2eb!important
}

.header-icons {
    gap: 4px;
    max-width: 70%;
}

.stat-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff!important;
    border: 1px solid #f6edd5;
}

#statistics, section#prototypes {
    background-color: #f7f2e8!important;
}

#shadow-host-companion {
    display: none;
}


@media only screen and (max-width: 470px) {


    #navbar-project-1, #navbar-project-video, #navbar-project-2, #design-system-nav {
        flex-direction: column!important;
        justify-content: flex-start!important;

    }
    
    .summary {
        padding-top: 10px!important;
    }

    .toc, .summary {
        gap: 8px!important;
        justify-content: flex-start!important;
    }


}

/**************************/

* {
    box-sizing: border-box;
    --primary-color: #5E84E2; /* Light Blue */
    --highlight-color: #14C8C8; /* Darker Blue for buttons */
    --background-color: #F5F8FF; /* Soft light blue background */
    --card-bg-color: #FFFFFF; /* Pure white for content cards */
    --text-color: #2B2D42; /* Darker gray for text */
    --bs-border-color: #dee2e6;
    --bs-badge-font-weight: 400;
    --bs-card-height: 100%;
}


html {
    scroll-padding-top: 160px!important; 
    scroll-padding-bottom: 160px!important;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
}

h1 {
    font-size: 1.75rem !important;
}

h2 {
    font-size: 1.5rem !important;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

section.about-me {
    align-items: center;
padding-bottom: 0px;
}

.card {
    background-color: var(--card-bg-color); 
    border-radius: 0.5rem; /* Rounded corners */
    transition: transform 0.2s; /* Smooth transform */
    border-color: var(--bs-border-color)!important;  
    border-width: 1px;
    border-style: solid;  
    box-sizing: border-box;
    height: 100%!important;
}

.card:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

p.card-body {
    margin-bottom: auto!important;
}



.btn {
    background-color: var(--highlight-color);
    color: white;
    border-color: #13A6A6!important;
}

.btn:hover {
    background-color: #5E84E2; /* Change on hover */
}

.featured {
    background-color: var(--background-color); /* Soft light blue */
}

/******
top navigation
******/

header {
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-bottom: 30px;
}

.top-nav {
    background-color: #eaeffb; /* Soft light blue */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.top-nav a img {
    transition: filter 0.3s;
    max-width: 180px!important;
}

.top-nav a img:hover {
    filter: none; /* Removing grayscale on hover */
    color: #5E84E2; /* Light blue for active state */
}

.top-nav a {
    text-decoration: none;
    color: #4E4B66;
    font-weight: 400;
    font-size: .8rem!important; /* Adjust to fit your needs */
}

.top-nav a.nav-logo.nav-item:hover {
    background-color: #F5F8FF!important;
}

.top-nav a.nav-item:hover {
    background-color: #D6D8E7;
}


/******
bottom navigation
******/


nav.bottom-nav {
    display: none;
}

/******
carausel
******/



img.program-logo, img.company-logo {
    max-width: 140px!important;
    padding: 10px!important;
    border: 1px solid var(--bs-border-color);
    border-radius: 10px;
    margin-right: 10px;
    background-color: #ffffff;
}

.impactful-stats {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px!important;
    border: 1px solid var(--bs-border-color);
    box-sizing: border-box;
}


/******
buttons
******/

.btn {
    background-color: var(--highlight-color)!important;
    color: #fff!important;
    border-radius: 20px; /* Rounded button style */
}

.btn.view-project {
    margin-top: auto;
}

.btn.view-project:hover {
    background-color: var(--primary-color)!important; /* Softer hover effect */
   

}

span.badge {
    font-weight: 400;
    font-family: 'Inter', sans-serif!important;
    background-color: var(--primary-color)!important; /* Softer hover effect */
    color:#fff;
}

#checkout-research .card , #mapping .card, #comparison .card{
    height: 100%;
}

div.social-icons {
    display: none;
}

@media only screen and (max-width: 768px) {
    div.header-icons.d-flex {
        display: none!important;;
    }

    div.social-icons {
        display: inline-flex;
        gap: 10px;
    }
    
    .top-nav a.nav-logo.nav-item:hover {
        background-color: #F5F8FF!important;
    }

    
    .bottom-nav a.nav-item:hover {
        background-color: #D6D8E7;
    }
     
    .tm-bg-color.top-nav {
        padding: 10px;
    }

    nav.bottom-nav {
        display: inline-flex;
        background-color: #eaeffb; /* Soft light blue */
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
        justify-content: space-between;
    }

        
    .bottom-nav a {
        font-size: 0.8rem;
        padding: 8px;
        text-decoration: none;
        color: var(--text-color);
    }

    img.img-fluid.profile {
max-width: 300px!important;
    }


}

@media only screen and (max-width: 470px) {
    #mobile-nav {
        display: inline-flex!important;
    }

    img.program-logo,  img.company-logo {
        max-width: 120px!important;
        padding: 10px!important;
        border: 1px solid var(--bs-border-color);
        border-radius: 10px;
        margin-right: 10px;
    }

}
