body {
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF; 
    color: #2B1D0E; /* Dark brown text */
    margin: 0;
    padding: 0;

}

#main-content {
    top: 140px!important;
    position: relative!important;
    padding-bottom: 80px;
}

html {
    scroll-padding-top: 140px!important; /* Adjust according to your header and nav height */
}


section  {
    padding-top: 30px; /* Adjust this based on your fixed header/nav height */
    padding-bottom: 30px;
 }
 

header {
    background-color: #FAF3E0; 
    padding-top: 20px; /* Adds padding inside the header to prevent the logo from being too close to the top */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid #EFE8D8;
}

section.header-container {
    padding-top: 100px;
    padding-bottom: 20px;
}

main {
    padding-top: 150px;
    padding-bottom: 80px; /* Adjust this value to push the content further down */

}

h1 {
    color:#D6BFAF !important;
    font-size: 1.35rem!important;
    margin-top: 0px!important;   margin-bottom: 0px!important;
}

.checkout-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
}


a.contact-icon {
    text-decoration: none!important;
}

.about-me, .featured-projects {
    margin: 0px!important;
    box-sizing: border-box;
}

section.about-me {
    padding-top: 100px!important; 
    text-align: left;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 40px!important;  
    background-color: #000;
    color: #fff;
}

.about-me img {
    align-self: center!important;
}

.featured-projects {
    background-color: #fff; 
    padding-bottom: 130px;
    padding-top: 60px;  
}

.featured-projects > .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.about-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.nav-item > span {
    color: #D6BFAF;
    font-weight: 600;
}

.bottom-nav {
    background-color: #000; /* Dark brown for bottom nav */
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    left: 0;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
}

.bottom-nav a {
    color: #B4A79E; /* Sand tan for nav links */
    text-decoration: none;
    font-size: .9rem;
    font-weight: 600;
}

.bottom-nav a:hover {
    color: #8B5E3C; /* Mid-tone brown for hover effect */
}

.about-me img {
    width: 300px;
}

img.infopro {
    width: 100%;
    max-width:280px;
    align-self: center;
}

.btn-outline-red {
    border: .75px solid #E74C3C!important;
    color: #000!important;
    background-color: #FAF3E0!important;
    font-weight: 500!important;
    margin-top: 20px;
}

.btn-outline-red:hover {
    background-color: #E74C3C!important;
    color: #ffffff!important;
}

.btn-outline-red.about-btn {
    width: 200px;
    color: #000!important;
    margin-top: 0px!important;
}

.card {
    background-color: #FAF3E0; /* Tan background for cards */
    height: 100%!important;
    border: 1px solid #e9e9e9!important; /* Softer tan for the border */

}

.card-header {
    font-size: .95rem;
    text-decoration: none!important;
    color: #000000;
    font-weight: 600;
    text-align: center;
    background-color:#f5f2eb!important;
    border-color: #f5f2eb!important;
}

.card-header.before {
    background-color:#e9e6de!important;
    color: #000000!important ;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body p {
    margin-bottom: auto;
}

.card-img-top {
    width: 100%;
    max-width: 200px;
    align-self: center;
    padding: 20px 20px 0px 20px;
}

img.persona-avatar {
    width: 200px!important;
    align-self: center;
}

/* Additional layout customization for better aesthetics */
.project-card {
    margin-top: 20px;
    margin-bottom: 20px; /* Adds space between cards */
}

.card-body p {
    margin-bottom: 16px;
}

.card-body h2 {
    font-size: 1.5rem;
    margin-bottom: 16px;
}

.btn-outline-red {
    margin-top: 10px;
    padding: 10px 20px;
}



.card-header h5 {
    color: #000000 !important; /* Black text for card headers */
}



.card-body p {
    margin-bottom: auto!important;
}

.badge.bg-secondary {
    background-color: #eeeae1!important; /* Your custom secondary color (light tan) */
    font-weight: 500!important;
    color: #292929
}

/* Adding a comparison-box style for structured layout */
.comparison-box {
    border: 1px solid #D6BFAF; /* Add border to differentiate sections */
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for better distinction */
    background-color: #FAF3E0; /* Optional background to make boxes pop */
}

/* Improve image size consistency */
.comparison-img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 10px;
}

/* Padding for text alignment */
.comparison-description {
    margin-top: 10px;
}

/* Increase spacing between Before and After */
.card-body .row {
    margin-bottom: 30px; /* More space between comparisons */
}

.user-journey-section {
    background-color: #fefbf4; /* Or whichever you choose */
}

section#heading-toc {
    margin: 0px!important;
    padding: 0px!important;;

}


#design-iterations .card {
    border: 1px solid #F5EEDC; /* Softer tan for the border */
    border-radius: 8px;
    background-color: #fefcf7 !important; 
    box-sizing: border-box;
    margin-bottom: 30px; 
}

#design-iterations div.card-body {
    margin-top: auto;
    margin-bottom: 0px!important;
    padding: 20px;;

}

#design-iterations div.card-body p {
    margin-bottom: 0px!important;

}

.img-fluid.iteration {
    margin-top: auto;
    margin-bottom: auto;
}

.img-fluid.journey {
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid #f6edd5;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #ffffff; 

}

.research-insights img {
    border: 1px solid #f6edd5;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.card.chart {
    padding: 30px!important;
} 
main#before-after img  {
    padding: 20px;
}

 main#before-after p {
    padding: 0px 20px 20px 20px;
}

.btn-nav {
    font-size: 0.85rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    color: #000;
    margin-right: 15px;
    font-weight: 600;
  }
  
  .btn-nav:hover, .btn-nav:focus {
    color: #E74C3C; /* Highlight color */
  }
  
.nav-row {
    position: fixed;
    z-index: 999;
    top: 60px;
    padding: 10px!important;
    border-bottom: 1px solid #f6edd5;
    background-color:#fcfbf8;
}

header {
    height: 60px; /* Set a fixed height for the header */
}

/* .nav-row {
    height: 50px; 
} */

hr {
    margin: 3px!important;
}

div.process-item {
    font-size: .875rem;
    text-decoration: none!important;
    color: #000000;
    font-weight: 600;
text-align: center;
padding: 4px 0px!important;
width: 100%;
background-color:#f5f2eb!important;
}

.summary {
    font-size: .95rem;
    text-decoration: none!important;
    color: #000000;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 6px 0px!important;
    flex: 2;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    line-height: 100%;
}

.toc {
    font-size: .95rem;
    text-decoration: none!important;
    color: #000000;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 6px 0px!important;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

a.process-item {
    font-size: .7rem;
    text-decoration: none!important;
    color: #000000;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 4px!important;
}


.checkout-header h1 {
    font-size: 1rem!important;
}

#checkout-nav, #video-platform-nav {
    padding: 0px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column!important;
    width: 100%;
    background-color:#f5f2eb!important
}

#navbar-project-1, #navbar-project-2,  .logo-row {
    padding: 0px 4px!important;
}

#navbar-project-1, #navbar-project-video, #navbar-project-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:#f5f2eb!important
}

.header-icons {
    gap: 4px;
}


@media only screen and (max-width: 470px) {


    #navbar-project-1, #navbar-project-video, #navbar-project-2 {
        flex-direction: column!important;
        justify-content: flex-start!important;

    }
    
    .summary {
        padding-top: 10px!important;
    }

    .toc, .summary {
        gap: 8px!important;
        justify-content: flex-start!important;
    }

    section {
        padding-top: 10px!important;
        padding-bottom: 10px!important;;
    }
}


