body {
    font-family: 'Arial', sans-serif;
    background-color: #F5E5C1; 
    color: #2B1D0E; /* Dark brown text */
    margin: 0;
    padding: 0;
}

.header {
    background-color: #FAF3E0; 
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
    position: fixed;
    z-index: 1000;
}


a.contact-icon {
    text-decoration: none!important;
}


.about-me, .featured-projects {
    margin: 0px!important;
    box-sizing: border-box;
}

.about-me {
    padding-top: 120px; 
    text-align: left;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 60px;  
    background-color: #000;
    color: #fff;
}

.about-me img {
    align-self: center!important;
}

.featured-projects {
    background-color: #f3eede; 
    padding-bottom: 130px;
    padding-top: 60px;  
    
}

.featured-projects > .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.about-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.nav-item > span {
    color: #D6BFAF;
    font-weight: 600;
}


.bottom-nav {
    background-color: #000; /* Dark brown for bottom nav */
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    align-items: center;
}

.bottom-nav a {
    color: #B4A79E; /* Sand tan for nav links */
    text-decoration: none;
    font-size: .9rem;
    font-weight: 600;
}

.bottom-nav a:hover {
    color: #8B5E3C; /* Mid-tone brown for hover effect */
}



.about-me img {
    width: 300px;
}


.btn-outline-red {
    border: 1px solid #E74C3C!important;
    color: #E74C3C!important;
    background-color: #FAF3E0!important;
    font-weight: 500!important;
    margin-top: 20px;
}

.btn-outline-red:hover {
    background-color: #E74C3C!important;
    color: #ffffff!important;
}

.btn-outline-red.about-btn {
    width: 200px;
    color: #000!important;
    margin-top: 0px!important;
}

.card {
    height: 100%!important;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body p {
    margin-bottom: auto;
}

.card-img-top {
    width: 100%;
}