<footer>
    <nav class="tm-bg-color bottom-nav">
        <div class=" container d-flex justify-content-between p-0">
            <a href="projects/project1.html" class="nav-item text-center">
                <img src="images/checkout.svg" style="width: 22px;" alt="Checkout Redesign Icon">
                <span class="d-block small">Redesign</span>
            </a>
            <a href="projects/project2.html" class="nav-item text-center">
                <img src="images/mobile-app.svg" style="width: 22px;" alt="Mobile App Icon">
                <span class="d-block small">Mobile App</span>
            </a>
            <a href="projects/project3.html" class="nav-item text-center">
                <img src="images/design-system.svg" style="width: 22px;" alt="Design System Icon">
                <span class="d-block small">Design System</span>
            </a>
            <a href="projects/project4.html" class="nav-item text-center">
                <img src="images/video-platform.svg" style="width: 22px;" alt="Debug Icon">
                <span class="d-block small">Video Platform</span>
            </a>
        </div>
    </nav>
    <div class="container-fluid featured p-4 text-center">
        Copyright © 2024 Teena Monaco
    </div>
</footer>