<!--include in template-->
<nav class="tm-bg-color top-nav">
    <div class=" container d-flex justify-content-between p-0">
        <a href="projects/project1.html" class="nav-logo nav-item text-center align-items-center">
            <img src="images/logo.svg" alt="Teena Monaco Logo" width="160">
        </a>
        <div class="social-icons">
            <a href="https://linkedin.com/in/teemonaco" target="_blank" class="contact-icon">
                <img src="images/linkedin.svg" alt="LinkedIn Icon" width="26px">
            </a>
            <a href="mailto:teemonaco@gmail.com" class="contact-icon">
                <img src="images/email.svg" width="26px">
            </a>
            <a href="tel:914-527-3509" class="contact-icon">
                <img src="images/phone.svg" width="26px">
            </a>
        </div>
        <div class="header-icon-nav">
            <ul class="header-icons top-menu nav">
                <li class="nav-item">
                    <a class="header nav-link" href="projects/project2.html">
                        <img src="images/checkout.svg" style="width: 22px;" alt="Checkout Redesign Icon">
                        Redesign
                    </a>
                </li>
                <li class="nav-item">
                    <a class="header nav-link" href="projects/project2.html">
                        <img src="images/mobile-app.svg" style="width: 22px;" alt="Checkout Redesign Icon">
                        Mobile App
                    </a>
                </li>
                <li class="nav-item">
                    <a class="header nav-link" href="projects/project3.html">
                        <img src="images/design-system.svg" style="width: 22px;" alt="Checkout Redesign Icon">
                        Design System
                    </a>
                </li>
                <li class="nav-item">
                    <a class="header nav-link" href="projects/project4.html">
                        <img src="images/video-platform.svg" style="width: 22px;" alt="Checkout Redesign Icon">
                        Video Platform
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>